body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

#container {
    background-color: antiquewhite;
    display: flex;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
          
}

.row {
    display: flex;
    flex-direction: column;
    
}

.in-row {
    background-color: rgb(242, 247, 245);
    border: 1px solid gray;
    box-sizing: border-box;
    
}


.input {
    height: 40px;
    width: 70px;
}

